
@import url('https://fonts.googleapis.com/css?family=Share+Tech:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------------------------------------------------header*/
header {
    margin:0
}

.navbar {
    min-height: 100px;
}

.name {
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}

.nav-link {
    font-family: 'Exo', sans-serif;
    letter-spacing: 1px;
    font-weight: 200px;
} 

/*----------------------------------------------------carousel*/

.carousel-caption {
        background-color: #50616161;
        text-shadow: 1px 1px 10px #000;
        color: #e1ad01;
     }


.carousel .carousel-item {
    height: 100vh;
  }
  
.carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 100vh;
  }

/*----------------------------------------------------footer*/

footer {
    min-height: 80px;
    background-color: #343a40;
    padding: 20px;
}

#spotify-icon i {
    display: inline;
    color:white;
    text-align: center;
    font-size: 40px;
    padding-left: 30px;
}

#footer-icon i {
    display: inline;
    color:white;
    text-align: center;
    font-size: 40px;
}

.copyright {
    display: inline;
    color: white;
    text-align: center;
    font-family: 'Exo', sans-serif;
}

#playlist {
    display: inline;
    color: white;
    text-align: center;
    font-family: 'Exo', sans-serif;
}


/*----------------------------------------------------hover*/

#footer-icon i:hover {
    color: #e1ad01;
    
}

#spotify-icon i:hover {
    color: #e1ad01;
    
}

a:hover {
    color: #e1ad01;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e1ad01;
    text-decoration: underline;
}

/*----------------------------------------------------media queries*/


@media (min-width: 1200px) {
    .carousel-caption {
        position: absolute;
        transform: translateY(-50%);
        bottom: initial;
        top: 50%;
        background-color: #50616161;
        text-shadow: 1px 1px 10px #000;
     }

     .social-links li a i {
        padding-left:90px;
        padding-right: 10px;
    }

    }

@media (min-width: 768px) and (max-width: 1024px) {
    #footer-icon i {
        padding-left: 20px;
    }
}

        
@media (max-width: 992px) {
            .carousel-caption h1 {
                font-size: 4em;
                font-family: 'share tech', sans-serif;
                text-transform: uppercase;
              }

              .carousel-caption h3 {
                font-size: 2em;
                font-family: 'share tech', sans-serif;
                text-transform: uppercase;
             }


            }
        
        
@media (min-width: 992px) {
        .carousel-caption h3 {
            font-size: 3em;
            font-family: 'share tech', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
         }

         .carousel-caption h1 {
            font-size: 5em;
            font-family: 'share tech', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
          }

        }

@media (max-width: 767.98px) {
    #footer-icon i {
        padding-left: 50px;
    }

    #spotify-icon i {
        padding-left: 50px;
    }
    
    .copyright {
        padding-top: 20px;
    }
}


@media (max-width: 575.98px) {
    
    #footer-icon i {
        padding-left: 50px;
    }

    #spotify-icon i {
        padding-left: 40px;
    }
    
    .copyright {
        padding-top: 20px;
    }
}