
@import url('https://fonts.googleapis.com/css?family=Share+Tech:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------------------------------------------------header*/
header {
    margin:0
}

.navbar {
    min-height: 100px;
}

.name {
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}

.nav-link {
    font-family: 'Exo', sans-serif;
    letter-spacing: 1px;
    font-weight: 200px;
} 

/*----------------------------------------------------carousel*/

.carousel-caption {
    position: absolute;
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

.carousel-caption h1 {
    font-size: 5em;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
}

.carousel-caption h3 {
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;

}




